@{
    ViewBag.Title = "title";
    Layout = "_DefaultPageLayout";
}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <img src="favicon.ico" alt="Lushwear">
            </a>
        </div>
        <ul class="nav navbar-nav">
            <a class="btn border-dark" href="#">Login</a>
        </ul>
    </div>
</nav>
<div class="text-center">
    <h2>Willkommen beim Lushwear Ticketsystem</h2>
</div>
<div class="text-center">
    <box>Statistic Placeholder</box>
</div>
<div class="text-center fixed-bottom">
    <footer>Placeholder</footer>
</div>
