@{
    ViewBag.Title = "title";
}
<div class="text-center">
    <h2>Willkommen beim Lushwear Ticketsystem</h2>
</div>
<div class="text-center">
    <box>Statistic Placeholder</box>
</div>
<div class="text-center fixed-bottom">
    <footer>Placeholder</footer>
</div>
