@{
    ViewBag.Title = "Login";
}
@model LoginModel;

<form asp-action="Login" method="post" >
    <div class="text-center">
    <img class="img-b " src="">
    </div>

    <h1 class="text-center">Anmelden</h1>
    <h5 class="text-center mb-4">Melden Sie sich in Ihrem Ticketsystem-Konto an</h5>

    <div class="form-floating mb-3">
        <input asp-for="Email" class="form-control" placeholder="" />
        <label asp-for="Email">Email</label>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-floating mb-3">
        <input asp-for="Password" type="password" class="form-control" placeholder="Passwort" />
        <label asp-for="Password">Passwort</label>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-dark ms-lg-2 mt-2 mt-lg-0">Anmelden</button>
</form>