@model WebApp.ViewModels.AdminUserViewModel
@{
    ViewBag.Title = "Neuen Benutzer anlegen";
}

<div class="container my-5">
    <h2 class="mb-4">Neuen Benutzer anlegen</h2>
    @if (!ViewData.ModelState.IsValid)
    {
        <div class="alert alert-danger">
            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
            {
                <div>@error.ErrorMessage</div>
            }
        </div>
    }

    <form asp-action="CreateUser" method="post" autocomplete="off">
        <div class="mb-3">
            <label asp-for="UserName" class="form-label">Name</label>
            <input asp-for="UserName" class="form-control" autocomplete="username" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email</label>
            <input asp-for="Email" class="form-control" autocomplete="username"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Passwort</label>
            <input asp-for="Password" type="password" class="form-control" autocomplete="new-password"/>
            <span asp-validation-for="Password" class="text-danger"></span>
            
            <label asp-for="ConfirmNewPassword" class="form-label">Passwort wiederholen</label>
            <input asp-for="ConfirmNewPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="SelectedRole" class="form-label">Rolle</label>
            <select asp-for="SelectedRole" asp-items="Model.AvailableRoles" class="form-select">
                <option value="">-- Rolle auswählen --</option>
            </select>
            <span asp-validation-for="SelectedRole" class="text-danger"></span>
        </div>

        <button type="submit" class="btn btn-primary">Speichern</button>
        <a asp-action="UserManagement" class="btn btn-outline-secondary ms-2">Abbrechen</a>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}