<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Startseite"]</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
</head>
<body class="">

@RenderBody()

</body>
</html>