@{
    ViewBag.Title = "Upload";
}
@model WebApp.ViewModels.UploadViewModel

<div class="container mt-5">
    <div class="mb-3">
        <a href="@Url.Action("Edit", "Ticket",new { id = Model.TicketId, returnUrl = "Edit" })" class="btn btn-outline-secondary">
            ← Zurück zum Ticket bearbeiten
        </a>
    </div>

    <div class="card shadow-sm">
        <div class="card-header bg-White text-black">
            <h4 class="mb-0 title-text">Datei hochladen</h4>
        </div>
        <div class="card-body">
            <form asp-action="Upload" method="post" enctype="multipart/form-data">
                <input type="hidden" asp-for="TicketId" />

                <div class="mb-3">
                    <label asp-for="UploadedFile" class="form-label">Datei auswählen</label>
                    <input asp-for="UploadedFile" class="form-control" type="file" />
                    <span asp-validation-for="UploadedFile" class="text-danger"></span>
                </div>

                <div class="text-end">
                    <button  type="submit" class="btn btn-dark">Speichern</button>
                </div>
            </form>
        </div>
    </div>
</div>