<div class="mb-3">
            <label asp-for="IsActive" class="form-label">Status</label>
            <select asp-for="IsActive" class="form-select">
                <option value="true">Aktiv</option>
                <option value="false">Inaktiv</option>
            </select>
        </div>
