html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}

@media (max-width: 992px) {
  .navbar-collapse {
    text-align: center;
  }
  
  .navbar-nav {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }
  

  .navbar-nav .nav-item {
    width: 100%;
    margin-bottom: 0.5rem;
    display: flex;
    justify-content: center;
  }

  .navbar-nav .nav-link {
    text-align: center;
  }

  .navbar-nav .btn {
    width: 80%;
  }
}

.logo {
  max-height: 4em;
  height: auto;
  width: auto;
  display: block;
}

@media (min-width: 992px) {
  .logo {
    max-height: 5em;
  }

  .navbar {
    padding-top: 0;
    padding-bottom: 0;
    height: 64px; 
    display: flex;
    align-items: center;
  }

  .navbar-brand {
    display: flex;
    align-items: center;
  }
}


.sidebar {
  width: 250px;
  min-height: 100vh;
  color: black;
}


.chart-container {
  position: relative;
  height: 400px;
}


@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    min-height: auto;
    border-right: none;
    border-bottom: 1px solid #ddd;
  }

  .chart-container {
    height: 300px;
  }
}
body {
  background: #f8f9fa;
}

.card {
  border-radius: 1rem;
}

.form-control:focus {
  border-color: #3b275d;
  box-shadow: 0 0 0 0.2rem rgba(59, 39, 93, 0.25);
}

.btn-dark {
  background-color: #3b275d;
  border-color: #3b275d;
}

.btn-dark:hover {
  background-color: #2d2046;
  border-color: #2d2046;
}
.background-dark {
  background-color: #3b275d;
}
#messageDot {
  width: 10px;
  height: 10px;
}

.navbar .rounded-circle {
  border: 2px solid #6c757d;
  transition: border-color 0.3s ease;
  object-fit: cover;
}

.navbar .rounded-circle:hover {
  border-color: #343a40; 
}
@media (min-width: 992px) {
  .custom-avatar-toggler {
    display: none !important;
  }
}

.navbar-toggler.custom-avatar-toggler {
  border: none;
  padding: 0;
  background: none;
}


.navbar-toggler-icon {
  display: block;
}

@media (min-width: 992px) {

  .custom-avatar-toggler {
    display: none !important;
  }
 
  .navbar-toggler-icon {
    display: block;
  }
}



